.btn-light {
    
    padding-top: -3 auto;
    margin-left: -14px;
    font-size: 13px;
    color: lightseagreen;
}

.city-input {
    padding-left: 0 auto;
}
.weather-app {
    max-width: 300px;
    margin: 30px auto;
    padding: 25px;
    border: 1px solid #cbcef1cc;
    border-radius: 8px;
}

.lisbontrain{
    max-width: 200px;
    display: block;
    align-items: center;
    margin: 0 auto;
}

h1{
    font-weight: 300;
    margin-bottom: 0;
    
}
.temp .active{
    color: black;
    cursor: default;
    
}

.active:hover {
    text-decoration: none;
}



hr {
    color: gainsboro;
    height: 2px;
}
.temperature {
    color: #908A87;
}

.celsius {
    font-size: 15px;
}
.fahrenhi {
    font-size: 15px;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}
.wind {
    text-transform: lowercase;
}
li{
    
    color: #6d6868;
    font-size: 15px;
}
li::first-letter {
    text-transform: capitalize;

}

.top{
    text-align: center;
    
}

.weather-forecast h3{
    font-weight: 400;
    font-size: 12px;
    line-height: 1px;
    padding-top: 5px;
}

.weather-forecast img{
    display: block;
    width: 19px;
    height: 25px;

}

.weather-forecast-temperature {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
}

small {
    text-align: center;
    display: block;
}