.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    border: 1px solid #cbcef1cc;
    border-radius: 8px;
}

h1{
    font-weight: 300;
    margin-bottom: 0;
}

.h5, h5 {
    font-size: 0;
  }

h5 {
    color: #908A87;
    font-size: 20px;
}

.temperature {
    color: #908A87;
}

.celsius {
    font-size: 15px;
}
.fahrenhi {
    font-size: 15px;
}

ul{
    list-style: none;
}
.wind {
    text-transform: lowercase;
}
li{
    text-transform: capitalize;
}
.top{
    text-align: center;
    
}